<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <!--<add name="QuestionEngineTest" connectionString="Server=localhost;Database=questionEngine_test;User ID=dev;Password=development"/>-->
    <add name="QuestionEngineTest" connectionString="Server=localhost;initial catalog=questionEngine_test;user=dev;password=development;"/>
  </connectionStrings>

  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
